<% content_for :top do %>
  <div>
    <a class="left" href="/">
      <button class="home-button">Return Home</button>
    </a>
  </div>

  <div class="title">
    <h2>Editing <%= @fight.name %></h2>
  </div>
<% end %>


<div class="one-input">
  <form action="/<%= @fight.name %>/edit" method="POST">
    <label for="name">New Fight Name:</label>
    <input type="text" id="name" name="name" value="<%= @name %>">
    <p>Only letters, numbers, spaces, and parentheses allowed.</p>
    <button>Save Changes</button>
    <a href="/<%= @fight.name %>">
      <button class="cancel">Cancel</button>
    </a>
  </form>
</div>
