<% content_for :top do %>
  <div>
    <a class="right" href="/<%= slugify(@fight.name) %>/new_character">
      <button>Add a Character</button>
    </a>

    <a class="left" href="/">
      <button class="home-button">Return Home</button>
    </a>
  </div>

  <div class="title">
    <h2><%= @fight.name %></h2>
  </div>
<% end %>

<% @fight.characters.each do |character| %>
  <div class="list-box">
    <div class="list-box info name">
      <h3><%= character.name %></h3>
      <%= character.hp %>
    </div>
  </div>
<% end %>
