<!DOCTYPE html>
<html>
  <head>
    <title>Battle Tracker</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Texturina:ital,wght@1,900&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheet.css'>
  </head>

  <body>
    <header>
      <h1>Battle Tracker</h1>
    </header>

    <main>
      <div class="top">
        <%== yield_content :top%>
      </div>

      <% if session[:error] %>
        <div class="flash error">
          <p><%= session.delete(:error) %></p>
        </div>
      <% end %>

      <% if session[:success] %>
        <div class="flash success">
          <p><%= session.delete(:success) %></p>
        </div>
      <% end %>

      <%== yield %>
    </main>
  </body>
</html>
