<h2>Prep a New Fight</h2>

<form action="/new_fight" method="POST">
  <label for="name">Fight Name:</lable>
  <input type="text" id="name" name="name" value="<%= @name %>">
  <input type="submit" value="Go To Add Characters">
</form>
