<h3><%= @fight.name %></h3>

<form action="/<%= slugify(@fight.name) %>/new_character" method="POST">
  <label for="name">Character Name</label>
  <input type="text" id='name' name="name" value="<%= @name %>">

  <label for="hp">HP</label>
  <input type="number" id='hp' name="hp" min="1" value="<%= @hp %>">

  <input type="submit" value="Add to Fight">
</form>
