main {
  margin: 0em 3em;
}

body > header {
  max-width: 1000;
  margin: auto;
}

header > h1 {
  font-family: 'Texturina', sans-serif;
  font-size: 50px;
  text-align: center;
  margin: 0 auto;
}

.top {
  display: inline-block;
  width: 100%;
  margin-bottom: 0.3em;
}

.title {
  width: 100%;
  display: inline-block;
  text-align: center;
}

.title h2 {
  font: bold 2em sans-serif;
  margin: auto;
  display: inline-block;
}

.top a {
  display: inline-block;
}

.right {
  float: right;
}

.left {
  float: left;
}

.none-found h3 {
  text-align: center;
  color: #cccccc;
  font-size: 30px;
}

/* One Input Page */

.one-input {
  margin: 2em;
  font: 20px sans-serif;
}

.one-input label {
  display: block;
  margin: 1em 0;
}

.one-input input {
  display: block;
  height: 30px;
  width: 75%;
  border-radius: 10em;
  padding-left: 1em;
  font: 20px sans-serif;
}

.one-input p {
  margin: auto;
  margin-left: 2em;
  font-size: 15px;
}

.one-input button {
  width: 15em;
  height: 2em;
  box-shadow:inset 0px 1px 0px 0px #dcecfb;
	background:linear-gradient(to bottom, #bddbfa 5%, #80b5ea 100%);
	background-color:#bddbfa;
	border-radius:6px;
	border:1px solid #84bbf3;
	display:inline-block;
	cursor:pointer;
	color: black;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 14px;
	text-decoration:none;
	text-shadow:0px 1px 0px white;
  margin: 1em;
}

.one-input button.cancel {
  box-shadow:inset 0px 1px 0px 0px #e6bec4;
	background:linear-gradient(to bottom, #d68590 5%, #e65366 100%);
	border:1px solid #B50B33;
	text-shadow:0px 0.5px 0px #e6bec4;
}

/* Buttons */

.top button {
  width: 12em;
  height: 2em;
  box-shadow:inset 0px 1px 0px 0px #dcecfb;
	background:linear-gradient(to bottom, #bddbfa 5%, #80b5ea 100%);
	background-color:#bddbfa;
	border-radius:6px;
	border:1px solid #84bbf3;
	display:inline-block;
	cursor:pointer;
	color: black;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px white;
}

.top button.home-button {
	background:linear-gradient(to bottom, #c7dbfa 5%, #83c96f 100%);
}

button.fight {
  width: 6em;
  height: 1.7em;
	border-radius:6px;
	display:inline-block;
	cursor:pointer;
	font-size: 0.7em;
	font-weight:bold;
	text-decoration:none;
  margin: 0.1em;
}

button.delete {
  box-shadow:inset 0px 1px 0px 0px #e6bec4;
	background:linear-gradient(to bottom, #d68590 5%, #e65366 100%);
	border:1px solid #B50B33;
	text-shadow:0px 0.5px 0px #e6bec4;
}

button.duplicate {
  box-shadow:inset 0px 1px 0px 0px #dcecfb;
	background:linear-gradient(to bottom, #bddbfa 5%, #80b5ea 100%);
	border:1px solid #84bbf3;
	text-shadow:0px 1px 0px white;
}

button.restart {
  box-shadow: inset 0px 1px 0px 0px #bee6bf;
  background: linear-gradient(to bottom, #bee6bf 5%, #69b56a 100%);
  border: 1px solid #34bf35;
  text-shadow: 0px 1px 0px #bee6bf;
}

button.edit {
  box-shadow: inset 0px 1px 0px 0px #fffec4;
  background: linear-gradient(to bottom, #fffec4 5%, #d1d158 100%);
  border: 1px solid #d1d158;
  text-shadow: 0px 1px 0px #fffec4;
}

.title button {
  width: 5em;
  height: 1.5em;
  padding: 0;
  vertical-align: 50%;
}

.right-buttons {
  display:inline-block;
  width:10%;
}

.right-buttons form {
  float: right;
}

.right-buttons a {
  float: right;
}

.character-interactive button {
  border-radius: 0 1em 1em 0;
  border-left: none;
  height: 21px;
  font-weight: bold;
  color: white;
  cursor: pointer;
  width: 105px;
}

button.damage {
  background: #8f0000;
}

button.heal {
  background: #0a8f00;
}

button.full {
  border-radius: 1em;
}

.character-creator a {
  text-decoration: none;
}

.character-creator button {
  width: 12em;
  height: 3em;
	border-radius:6px;
	display:inline-block;
	cursor:pointer;
	font-size: 0.8em;
	font-weight:bold;
	text-decoration:none;
  margin: 0.2em;
}

button.submit {
  box-shadow:inset 0px 1px 0px 0px #dcecfb;
	background:linear-gradient(to bottom, #bddbfa 5%, #80b5ea 100%);
	border:1px solid #84bbf3;
	text-shadow:0px 1px 0px white;
  width: 15em;
}

button.cancel {
  box-shadow:inset 0px 1px 0px 0px #e6bec4;
	background:linear-gradient(to bottom, #d68590 5%, #e65366 100%);
	border:1px solid #B50B33;
	text-shadow:0px 0.5px 0px #e6bec4;
  width: 9em;
}

/* Flash Messages */

.flash-box {
  position: absolute;
  top:0;
  left:0;
  width:100%;
}

.flash {
  min-width: 200px;
  max-width: 50%;
  height: 1.5em;
  text-align: center;
  margin: auto;
  border-radius: 0 0 3em 3em;
}

.flash p {
  display: inline-block;
  margin: 0.2em;
  font-weight: bold;
}

.flash.error {
  background: #FFD700;
}

.flash.success {
  background: #6ded76;
}

/* List Boxes */

.list-box {
  box-shadow: 0.1em 0.1em black;
  display: inline-block;
  width: 98%;
  margin: 0.2em 0em 0.2em 0em;
  border: 0.15em solid black;
  border-radius: 1em;
  font: 1.1em sans-serif;
  color: black;
  min-height: 4em;
  padding: 0.4em
}

.list-box a {
  text-decoration: none;
  height: 100%;
}

/* Home page */

.list-box.fight {
  background: #f7cf99;
}

.fight-info {
  display: inline-block;
  margin: auto;
  width: 60%;
  color: black;
}

.fight-info p {
  margin: 0.3em;
}

.info-box {
  display: inline-block;
  width: 31%;
  text-align: center;
  font-size: 15px;
  margin: 0.2em 0;
}

.info-box h4 {
  margin: auto;
  border-bottom: 2px solid black;
  width: 85%;
}

.name {
  display: inline-block;
  width: 25%;
  padding: 0.4em;
  vertical-align: top;
}

.fight-name {
  font: 1.2em 'Texturina', sans-serif;
  margin: auto;
}

.fight-status {
  margin:auto;
  font: italic 0.8em sans-serif;
  vertical-align: bottom;
}

.health-bar.fight {
  min-height: 10px;
  margin-top: 0.3em;
  margin-bottom: 0.1em;
}

/* fight page */

.character-title {
  display: inline-block;
  margin: 0.3em;
  margin-bottom: 0;
  width: 95%;
  border-bottom: 3px solid black;
  vertical-align: top;
}

.character-title h3 {
  display: inline-block;
  margin: auto;
  margin-left: 0.5em;
  margin-top: -0.3em;
  width: 25%;
  vertical-align: top;
  font: 20px 'Texturina', sans-serif;
}

.health-bar {
  display: inline-block;
  position:relative;
  width: 70%;
  padding-left: 0.3em;
  border: 2px solid black;
  border-radius: 15px;
  min-height: 15px;
}

.health-bar.fill {
  position:absolute;
  top:0;
  left:0;
  background: #a6e647;
  border:none;
  min-height: 100%;
}

.health-bar h4 {
  position: absolute;
  top:0;
  left:10;
  display: inline-block;
  margin: auto;
  font-size: 14px;
}

/* Character Box*/

.list-box.character {
  background: #e0c9c1;
  min-height: 2em;
  padding: 0;
  margin-bottom: 0.5em;
}

.character-overview {
  display: inline-block;
  vertical-align: top;
  width: 85%;
}

.character-basics {
  display: inline-block;
  margin: 0 0.3em;
}

.character-info {
  display: inline-block;
  margin: 0 1em;
  vertical-align: top;
}

.character-info p {
  margin: auto;
  font-size: 14px;
}

.character-info.stat {
  margin: auto;
  font: italic bold 14px sans-serif;
}

.character-info.value {
  margin: auto;
}

.character-interactive {
  margin-bottom: 0.3em;
  display: block;
}

.character-interactive div {
  display: inline-block;
  margin: 0 1em;
}

.character-interactive input {
  border-radius: 1em 0 0 1em;
  border-right: none;
  padding-left: 0.5em;
  height: 15px;
}

.change-hp {
  width: 45%;
  margin: auto;
}

.change-hp div {
  margin: auto;
}

.change-hp form {
  display: inline-block;
}

.change-hp input {
  width: 40px;
}

/* New / Edit Character */

.character-creator div {
  margin: 0.5em 0;
}

.character-creator h3 {
  margin: auto;
  font: italic 15px sans-serif;
}

.character-creator label {
  font: bold 20px sans-serif;
  display: inline-block;
  width: 20%;
}

.character-creator input {
  margin: auto;
  font: 20px sans-serif;
  border-radius: 1em;
  height: 25px;
  width: 300px;
  padding-left: 0.5em;
}

.character-creator input[type=number] {
  width: 50px;
}

.required {
  margin: 2em 0 2em 0 !important;
}
.player-type input {
  width: 1em;
  height: 1em;
  padding-right: 5%;
}

.player-type label {
  width: auto;
  height: auto;
  font: bold 17px sans-serif;
  margin-right:1em;
  vertical-align:top;
}

.scores {
  margin: 1em;
}

.scores h4 {
  font: bold 20px sans-serif;
  display: block;
  width: 20%;
  margin: 0;
}

.ability-score {
  display: inline-block;
  width: 15%;
}

.ability-score label {
  display: block;
  text-align: center;
  width:auto;
  font-size: 15px;
}

.ability-score input {
  display: block;
  height: 50px;
}

.enter-notes textarea {
  width: 75%;
  display: inline-block;
  border-width: 2px;
  border-radius: 1em;
  padding: 0.5em;
}

.enter-notes label {
  vertical-align: top;
}
