main {
  margin: 3em;
  margin-top: 2em;
}

body > header {
  max-width: 1000;
  margin: auto;
}

header > h1 {
  font-family: 'Texturina', sans-serif;
  font-size: 50px;
  text-align: center;
  margin: 0 auto;
}

.top {
  display: inline-block;
  width: 100%;
  margin-bottom: 0.3em;
}

.title {
  width: 100%;
  display: inline-block;
  text-align: center;
}

.title h2 {
  font: bold 2em serif;
  margin: auto;
}

.top a {
  display: inline-block;
}

.right {
  float: right;
}

.left {
  float: left;
}

/* Buttons */

.top button {
  width: 15em;
  height: 3em;
  box-shadow:inset 0px 1px 0px 0px #dcecfb;
	background:linear-gradient(to bottom, #bddbfa 5%, #80b5ea 100%);
	background-color:#bddbfa;
	border-radius:6px;
	border:1px solid #84bbf3;
	display:inline-block;
	cursor:pointer;
	color: black;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px white;
}

.top button.home-button {
	background:linear-gradient(to bottom, #c7dbfa 5%, #83c96f 100%);
}

button.fight {
  width: 6em;
  height: 1.7em;
	border-radius:6px;
	display:inline-block;
	cursor:pointer;
	font-size: 0.7em;
	font-weight:bold;
	text-decoration:none;
  margin: 0.1em;
}

button.delete {
  box-shadow:inset 0px 1px 0px 0px #e6bec4;
	background:linear-gradient(to bottom, #d68590 5%, #e65366 100%);
	border:1px solid #B50B33;
	text-shadow:0px 0.5px 0px #e6bec4;
}

button.duplicate {
  box-shadow:inset 0px 1px 0px 0px #dcecfb;
	background:linear-gradient(to bottom, #bddbfa 5%, #80b5ea 100%);
	border:1px solid #84bbf3;
	text-shadow:0px 1px 0px white;
}

button.restart {
  box-shadow: inset 0px 1px 0px 0px #bee6bf;
  background: linear-gradient(to bottom, #bee6bf 5%, #69b56a 100%);
  border: 1px solid #34bf35;
  text-shadow: 0px 1px 0px #bee6bf;
}

button.edit {
    box-shadow: inset 0px 1px 0px 0px #fffec4;
    background: linear-gradient(to bottom, #fffec4 5%, #d1d158 100%);
    border: 1px solid #d1d158;
    text-shadow: 0px 1px 0px #fffec4;
}

.right-buttons {
  display:inline-block;
  width:10%;
}

.right-buttons form {
  float: right;
}
/* Flash Messages */

.flash {
  min-width: 200px;
  max-width: 60%;
  height: 2em;
  text-align: center;
  margin: auto;
  border-radius: 1em;
}

.flash p {
  display: inline-block;
  margin: 0.5em;
  font-weight: bold;
}

.flash.error {
  background: #FFD700;
}

.flash.success {
  background: #6ded76;
}

/* List Boxes */

.list-box {
  box-shadow: 0.1em 0.1em black;
  display: inline-block;
  width: 98%;
  margin: 0.2em 0em 0.2em 0em;
  border: 0.15em solid black;
  border-radius: 1em;
  font: 1.1em sans-serif;
  color: black;
  min-height: 4em;
  padding: 0.4em
}

.list-box a {
  text-decoration: none;
  height: 100%;
}

/* Home page */

.list-box.fight {
  background: #f7cf99;
}

.fight-info {
  display: inline-block;
  margin: auto;
  width: 60%;
  color: black;
}

.fight-info p {
  margin: 0.3em;
}

.info-box {
  display: inline-block;
  width: 31%;
  text-align: center;
  font-size: 15px;
  margin: 0.2em 0;
}

.info-box h4 {
  margin: auto;
  border-bottom: 2px solid black;
  width: 85%;
}

.name {
  display: inline-block;
  width: 25%;
  padding: 0.4em;
  vertical-align: top;
}

.fight-name {
  font: 1.2em 'Texturina', sans-serif;
  margin: auto;
}

.fight-status {
  margin:auto;
  font: italic 0.8em sans-serif;
  vertical-align: bottom;
}

.health-bar.fight {
  min-height: 10px;
  margin-top: 0.3em;
  margin-bottom: 0.1em;
}

/* fight page */

.character-title {
  display: inline-block;
  margin: 0.3em;
  width: 95%;
  border-bottom: 3px solid black;
  vertical-align: top;
}

.character-title h3 {
  display: inline-block;
  margin: auto;
  margin-left: 0.5em;
  width: 25%;
  vertical-align: top;
  font: 20px 'Texturina', sans-serif;
}

.health-bar {
  display: inline-block;
  position:relative;
  width: 70%;
  margin-bottom: 0.4em;
  padding-left: 0.3em;
  border: 1px solid black;
  border-radius: 15px;
  min-height: 20px;
}

.health-bar.fill {
  position:absolute;
  top:0;
  left:0;
  background: #a6e647;
  border:none;
  min-height: 100%;
}

.health-bar h4 {
  position: absolute;
  top:0;
  left:10;
  display: inline-block;
  margin: auto;
}

/* Character Box*/

.list-box.character {
  background: #e0c9c1;
  min-height: 2em;
  padding: 0;
}

.character-overview {
  display: inline-block;
  vertical-align: top;
  width: 85%;
}

.character-basics {
  display: inline-block;
  margin: 0 0.3em;
}

.character-info {
  display: inline-block;
  margin: 0 1em;
  vertical-align: top;
}

.character-info p {
  margin: auto;
  font-size: 16px;
}

.character-info.stat {
  margin: auto;
  font: italic bold 16px sans-serif;
}

.character-info.value {
  margin: auto;
}

.character-interactive {
  margin: 0.5em;
  display: block;
}

.character-interactive div {
  display: inline-block;
  margin: 0 1em;
}

.character-interactive input {
  border-radius: 1em;
  padding-left: 0.5em;
}

.change-hp input {
  width: 40px;
}
